body{
	margin:0px;
	padding:0px;
}

body, button, input, label, select, td, textarea {	
	font-size: 13px;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
}

h1{
	font-size: 22px;
	font-weight: normal;
	margin: 0;
	text-transform: capitalize;
}

h2{
	font-size: 24px;
	font-weight: normal;
	margin: 0;
	text-transform: uppercase;
}

h3{
	font-size: 20px;
	font-weight: normal;
	margin: 0;
}

h4{
	font-size: 16px;
	font-weight: 700;
	margin: 0;
}

p, li{
	font-size: 13px;
}

p{
	margin: 0 0 16px 0;
	text-align: justify;
}

ol{
	margin: 0 0 16px 0;
}

ul{
	margin: 0 0 16px 0;
}

li{
	margin: 0;
}

#contenedor{
	margin:auto;	
	min-width: 1000px;
	width: 1000px;	
}

#contenedor .efecto {	
    display: inline-block;
    margin-top: 128px;
	height:20px;
    width: 100%;
	position:fixed;
	background:rgba(255,255,255,0.6);
	z-index:5;	
	left:0;
}

#contenedor #contenedorDatos {
	margin-top:143px;
	position:absolute;
	min-width: 1000px;
	width: 1000px;	
}

.clean{
	clear:both;
}

header {
	padding-top: 10px;	
	position: fixed;
	background:white;
	z-index:15;
}

header figure{
	display:inline-block;
	float:left;
	margin:0px;
}

header figure img{
	width:260px;
	height:118px;
	border:0px solid;
}

header nav{
	display: inline-block;
	background: #304c7b;
	float: left;	
	border-radius: 25px 25px 0px 0px;
	padding: 0px 40px 0px 40px;
	width: 649px;
	position: relative;
	bottom: -85px;
	margin-left: 11px;
}

header nav ul{
	display: inline-block; 
	margin: 0px;
	padding:0px;	
}

header nav ul li{
	float:left;	
	list-style:none;	
}

header nav ul li a{	
	color: #b7c2d9;
    display: inline-block;
    font-family: Georgia;
    font-size: 13px;
    padding: 12px 15px 5px;
    text-align: center;
    text-decoration: none;
    width: 131px;	
}

header nav ul li a:hover{	
	background:rgba(255,255,255,0.3);
	color:white;
	border-radius:25px 0px 25px 0px;
	cursor:pointer;
}

.navShowActive{
	background:rgba(255,255,255,0.3);
	color:white;
	border-radius:25px 0px 25px 0px;	
}

.navChildrenNext{
	color:white;
	margin:15px;
}

.navChildren{
	position:absolute;
	background:rgba(183,194,217,0.8);/*#b7c2d9;*/
	width:100%;
	left:0px;
	height:220px;
	z-index:10;
	border-radius:0px 0px 30px 30px;	
	display:none;
}

section, aside{ margin-top:15px;}

section{
	min-width: 600px;
	width: 600px;	
	position:relative;
	float:left;
	display:inline-block;
	margin-bottom:10px;
	/*border:1px solid blue;*/
}

section span{
	display:block;
	padding:6px;
	font-weight:bold;
}

section article{
	margin:5px auto;
	min-width:550px;
	width: 550px;
	border:1px solid gray;
}

aside{
	min-width:250px;
	width: 250;
	position:relative;
	float:right;
	display:inline-block;
	margin-bottom:10px;
	border:1px solid pink;
}

footer{	
	clear:both;
	background: #304c7b;	
	border-radius: 0px 0px 20px 20px;	
}

footer nav{	
	background: #304c7b;		
	margin:auto;
	width:480px;
	padding:20px 0px;
}

footer nav ul{
	display: inline-block; 
	margin: 0px;
	padding:0px;
}

footer nav ul li{	
	list-style:none;	
	margin-bottom: 1px;
}

footer nav ul li a{	
	color: #b7c2d9;
	font-family: Georgia;
	font-size: 11px;
	padding: 0px 15px 0px;
	text-align: center;
	text-decoration: none;   
}

footer nav ul li a:hover{	
	color: white;	
}

.navFooter{	
	width: 160px;
	float: left;
}

.navFooter span{
	display: block;
    font-style: italic;
    font-weight: bold;	
	font-size:14px;	
	text-shadow: 0.1em 0.1em gray;	
	margin-bottom:3px;	
}