body{
	margin:0px;
	padding:0px;
}

body, button, input, label, select, td, textarea {	
	font-size: 13px;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
}

h1{
	font-size: 22px;
	font-weight: normal;
	margin: 0;
	text-transform: capitalize;
}

h2{
	font-size: 24px;
	font-weight: normal;
	margin: 0;
	text-transform: uppercase;
}

h3{
	font-size: 20px;
	font-weight: normal;
	margin: 0;
}

h4{
	font-size: 16px;
	font-weight: 700;
	margin: 0;
}

p, li{
	font-size: 13px;
}

p{
	margin: 0 0 16px 0;
	text-align: justify;
}

ol{
	margin: 0 0 16px 0;
}

ul{
	margin: 0 0 16px 0;
}

li{
	margin: 0;
}

#contenedor{
	margin:auto;	
	max-width: 1000px;
	width: 1000px;	
}

.clean{
	clear:both;
}

header {
	padding-top: 10px;			
}

header figure{
	display:inline-block;
	float:left;
	margin:0px;
}

header figure img{
	width:260px;
	height:118px;
	border:0px solid;
}

header nav{
	display: inline-block;
	/*background: #304c7b;*/
	float: left;	
	border-radius: 25px 25px 0px 0px;
	padding: 0px 40px 0px 40px;
	width: 649px;
	position: relative;
	bottom: -58px;
	margin-left: 11px;
	
	
	/*background-image: linear-gradient(bottom, #304C7B 36%, #304C7B 63%, #6B84AD 61%);
	background-image: -o-linear-gradient(bottom, #304C7B 36%, #304C7B 63%, #6B84AD 61%);
	background-image: -moz-linear-gradient(bottom, #304C7B 36%, #304C7B 63%, #6B84AD 61%);
	background-image: -webkit-linear-gradient(bottom, #304C7B 36%, #304C7B 63%, #6B84AD 61%);
	background-image: -ms-linear-gradient(bottom, #304C7B 36%, #304C7B 63%, #6B84AD 61%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.36, #304C7B),
		color-stop(0.63, #304C7B),
		color-stop(0.61, #6B84AD)
	);*/
	
	background:#273F65;
}

header nav ul{
	display: inline-block; 
	margin: 0px;
	padding:0px;	
}

header nav ul li{
	float:left;	
	list-style:none;	
}

header nav ul li a{	
	color: #b7c2d9;
    display: inline-block;
    font-family: Georgia;
    font-size: 13px;
    padding: 12px 15px 5px;
    text-align: center;
    text-decoration: none;
    width: 131px;	
}

header nav ul li a:hover{	
	background:rgba(255,255,255,0.3);
	color:white;
	border-radius:25px 0px 25px 0px;
	cursor:pointer;
}

.navShowActive{
	background:rgba(255,255,255,0.3);
	color:white;
	border-radius:25px 0px 25px 0px;	
}

.navChildrenNext{
	color:white;
	margin:15px;
}

.navChildren{
	position:absolute;
	background:rgba(183,194,217,0.8);/*#b7c2d9;*/
	width:100%;
	left:0px;
	height:220px;
	z-index:10;
	border-radius:0px 0px 30px 30px;	
	display:none;
}

section, aside{ margin-top:15px;}

section{
	min-width: 730px;
	width: 730px;	
	position:relative;
	float:left;
	display:inline-block;
	margin-bottom:10px;
	/*border:1px solid blue;*/
}

section span{
	display:block;
	padding:6px;
	font-weight:bold;
}

section article{
	margin:5px auto;
	min-width:550px;
	width: 550px;
	border:1px solid gray;
}

#contenedor > aside{
	max-width:250px;
	width: 250;
	position:relative;
	float:right;
	display:inline-block;
	/*display:inline-block;*/
	margin-bottom:10px;
	border:1px solid pink;
}

footer{	
	clear:both;	
	border-radius: 0px 0px 20px 20px;
	
	/*background-image: linear-gradient(left bottom, #767EDE 0%, #304C7B 29%);
	background-image: -o-linear-gradient(left bottom, #767EDE 0%, #304C7B 29%);
	background-image: -moz-linear-gradient(left bottom, #767EDE 0%, #304C7B 29%);
	background-image: -webkit-linear-gradient(left bottom, #767EDE 0%, #304C7B 29%);
	background-image: -ms-linear-gradient(left bottom, #767EDE 0%, #304C7B 29%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		right top,
		color-stop(0, #767EDE),
		color-stop(0.29, #304C7B)
	);*/

	background:#273F65;	
}

footer nav{			
	margin:auto;
	width:480px;
	padding:20px 0px;
}

footer nav ul{
	display: inline-block; 
	margin: 0px;
	padding:0px;
}

footer nav ul li{	
	list-style:none;	
	margin-bottom: 1px;
}

footer nav ul li a{	
	color: #b7c2d9;
	font-family: Georgia;
	font-size: 11px;
	padding: 0px 15px 0px;
	text-align: center;
	text-decoration: none;   
}

footer nav ul li a:hover{	
	color: white;	
}

.navFooter{	
	width: 160px;
	float: left;
}

.navFooter span{
	display: block;
    font-style: italic;
    font-weight: bold;	
	font-size:14px;	
	text-shadow: 0.1em 0.1em gray;	
	margin-bottom:3px;	
}

/**********Inicia Redes Sociales***********/
#mostrarRedesSociales{
	clear:both;
}

#mostrarRedesSociales a{
	display: inline-block;
	width: 100px;
	height: 105px;	
	margin-right:15px;
	cursor:pointer;
	opacity:0.5;
}

#mostrarRedesSociales a:hover{
	opacity:1;	
}


#mostrarRedesSociales > aside{	
	/*width: 330;*/
	width: 300px;
	position:relative;
	float:left;	
	display:block;
	margin-bottom:10px;
}

#mostrarRedesSociales #redSocFacebook
{
	background: url('../img/icon-footer-facebook.png') no-repeat;	
}

#mostrarRedesSociales #redSocTwitter
{
background: url('../img/icon-footer-twitter.png') no-repeat;
}

#mostrarRedesSociales #redSocGoogle
{
background: url('../img/icon-footer-google.png') no-repeat;
}
/*********Termina redes sociales***********/

/**********Inicia contacto***********/

#contacto{
	padding:1px;	
	margin:auto;	
	max-width: 1000px;
	width: 1000px;	
	background:#273F65;
	color:white;
	border-radius: 0px 0px 0px 10px;
		
}

#contacto form{
	width:500px;
	margin:25px auto;
	display:none;
	border:1px solid blue;
}

#contacto span{
	display: inline-block;
	width: 135px;
	height: 29px;
	text-align: right;
	position: relative;
	float: right;
	background: url('../img/contacto_in.png') no-repeat rgba(39,63,111,0.9);
	right: 0px;
	border-radius: 0px 0px 10px 10px;
	top: 1px;
	font-weight: bold;
	padding-top: 9px;
	padding-right: 5px;	
	cursor:pointer;
}

.contactoOut{
	background: url('../img/contacto_out.png') no-repeat rgba(39,63,111,0.9) !important;
}

/**********Termina contacto***********/